<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.socket.mapper.BaseAttribsMapper">
	<!-- 字段 -->
	<sql id="Field">
		 ValueID,    
	     ValueName
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		 #{ValueID},    
	     #{ValueName}
	</sql>
	
	<!--表名 -->
	<sql id="tableName">
		baseattribs
	</sql>
		
	<!--查询服务器属性 -->
	<select id="getBaseAttribs"  resultType="BaseAttribs">
		select  <include refid="Field"></include>
		from 
			<include refid="tableName"></include> 
	</select>
	
</mapper>
